/* 
 * Visibility Rules:
 * 1. Hide abstract-related fields when no radio is checked
 * 2. Hide full abstract section when not "Abstract" value
 */


.dynamicfields-container {
	display: flex;
	flex-direction: column;
	gap: var(--esccg2025-space-4);
}

 /* #app form :is(

	fieldset.abstract-info .form-group:not(:first-of-type),
	fieldset.abstract-authors,
	fieldset.abstract

) {
	display: none;
}


#app form:has( input[name="abstract-type"]:checked ) :is(
	
	fieldset.abstract-info .form-group:not(:first-of-type),
	fieldset.abstract-authors

),
#app form:has(input[name="abstract-type"][value="Abstract"]:checked) fieldset.abstract {
	display: block;
	animation: fadeInUp 0.4s ease-out;
} */
